$side-panel: #5B605F;
$header-color: #4a4a49;
$buttons-color: #FF6600;
$screen-color: #FFFFFA;
$info-news-color: #3498DB;
$warning-news-color: #FFB03B;
$success-news-color: #468966;
$basket-color: #BD4932;
$table-row-color: #A1A194;